.shop-products {
    display: flex;
    width: 100%;
    .product-list {
        width: 100%;
        display: flex;
        flex-wrap: wrap !important;

        .card {
            width: 24%;
            margin-bottom: 30px;
            text-align: center;

            &:hover {
                .items img {
                    transform: scale(1.05);
                }

                .items p {
                    color: #00369d;
                }
            }

            .items {
                display: flex;
                flex-direction: column;
                align-items: center;
                transition: 0.3s ease-in-out;

                img {
                    width: 200px;
                    height: 200px;
                    object-fit: cover;
                    transition: 0.3s ease-in-out;
                    margin-bottom: 10px;
                    cursor: pointer;
                }

                p {
                    color: rgb(101, 92, 92);
                    text-transform: uppercase;
                    transition: 0.2s ease-in-out;
                    margin-bottom: 10px;
                }

                button {
                    &:hover {
                        border: 1px dashed #00369d;
                    }
                }
            }
        }

    }
}
@media (max-width: 601px) and (min-width: 453px) {
    .product-list {
        .card {
            width: 50% !important;
        }
    }
}
@media (max-width: 453px) and (min-width: 300px) {
    .product-list {
        .card {
            width: 100% !important;
        }
    }
}