.contactUs {
    width: 100%;
    padding-top: 170px;

    .contactItems {
        width: 100%;

        .head {
            display: flex;
            justify-content: center;
            font-size: 30px;
            color: #00369d;
            margin-bottom: 150px;
        }

        .bottom {
            display: flex;

            .form {
                width: 55%;

                form {
                    display: flex;
                    flex-direction: column;

                    label {
                        font-family: sans-serif;
                        margin-bottom: 15px;
                    }

                    input {
                        padding: 12px;
                        border: 1px solid rgb(160, 160, 160);
                        border-radius: 10px;
                        margin-bottom: 15px;
                        color: #00369d;
                    }

                    textarea {
                        max-width: 100%;
                        min-width: 100%;
                        min-height: 50px;
                        padding: 6px;
                        border-radius: 10px;
                        margin-bottom: 20px;
                        color: message;
                    }

                    button {
                        background-color: transparent;
                        border: 1px dashed #00369d;
                        color: #00369d;

                        &:hover {
                            border: 1px solid #00369d;
                            background-color: #00369d;
                            color: #fff;
                        }
                    }
                }
            }

            .address {
                width: 45%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .item {
                    h3 {
                        color: #00369d;
                        font-size: 30px;
                        margin-bottom: 5px;
                    }
                    li {
                        font-family: sans-serif;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}