.events {
    padding-top: 190px;
    .top {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            font-size: 50px;
            color: #00369D;
            margin-bottom: 70px;
        }
        p {
            font-family: sans-serif;
            font-size: 15px;
            width: 850px;
        }
    }
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 130px;
        .card {
            width: 31%;
            margin-bottom: 90px;
            text-align: center;
            &:nth-child(odd)  .img {
                transform: rotate(-4deg);
            }
            &:nth-child(even) {
                margin-top: 20px;
            }
            &:nth-child(even)  .img {
                transform: rotate(4deg);
            }
            .img {
                position: relative;
                transition: 0.3s ease-in-out;
                margin-bottom: 30px;
                img {
                    width: 80%;
                    height: 436px;
                    object-fit: cover;
                    border-radius: 15px;
                    position: relative;
                    z-index: 1;
                    cursor: pointer;
                    transition: 0.3s ease-in-out;
                }
                .border {
                    object-fit: contain;
                }
    
                &:hover {
                    transform: rotate(0deg);
                }
    
                &:hover .hoverImg {
                    transform: scale(1.07);
                }
    
                .imgBorder {
                    border: 1px dashed #00369D;
                    position: absolute;
                    width: 80%;
                    height: 436px;
                    left: 8%;
                    bottom: -5px;
                    border-radius: 15px;
                    z-index: 0;
                }
            }
            h2 {
                color: #00369D;
                margin-bottom: 20px;
            }
            .button {
                &:hover {
                    border: 1px dashed #00369D;
                }
            }


        }
    }

}
@media (max-width: 601px) and (min-width: 300px) {
    .events {
        .container {
            display: flex;
            justify-content: center;
            .items {
                width: 100% !important;
                .top {
                    width: 100% !important;
                    h1 {
                        width: 100%;
                        margin-bottom: 30px;
                    }
                }
                .cards {
                    margin-top: 50px;
                }
            }
        }
        .card {
            width: 100% !important;
        }
    }
}
@media (max-width: 991px) and (min-width: 601px) {
    .card {
        width: 45% !important;
    }
}
@media (max-width: 991px) and (min-width: 300px) {
    .top {
        width: 100% !important;
        p {
            width: 100% !important;
            text-align: center;
        }
    }
}